.catalogue__products {
  display: grid;
  padding-block: 20px;
  padding-bottom: 50px;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 330px));
  gap: 20px;
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    padding-bottom: 100px;
    gap: 10px;
  }
  .product__wrapper {
    width: 100%;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .product__wrapper:hover {
    transform: scale(1.05);
  }
  .product__text__wrapper {
    transition: top 0.5s ease;
    position: relative;
    top: 0;
    text-align: center;
  }
  .product__text {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s ease;
    @media (min-width: 770px) {
      font-size: 22px;
    }
  }
  // .product__wrapper:hover .product__text {
  //   color: #eeab00;
  // }
  // .product__wrapper:hover .product__text__wrapper {
  //   top: -20px;
  // }
  .product__img {
    @media (min-width: 1000px) {
      max-width: 400px;
    }
    max-width: 300px;
    .img {
      width: 100%;
      height: 100%;
      max-height: 230px;
      object-fit: cover;
    }
  }
}
.catalogue__tittle {
  font-size: 42px;
  font-weight: 700;

  text-align: center;
  color: #333333;
  @media (width < 690px) {
    font-size: 24px;
  }
}
.product__button__wrapper {
  text-align: center;
  margin-top: 10px;
  .product__button {
    padding: 7px 12px;
    background-color: #eeab00;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }
  .product__button:hover {
    background-color: #333333;
    color: white;
    scale: 1.1;
    transition: 0.5s ease-in-out;
    border: 1px solid white;
  }
}
