.footer__container {
  margin-top: 10px;
  width: 100%;
  padding-block: 35px;
  background-color: rgb(80, 79, 75);
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.4);
  padding-inline: 10px;
}
.footer__content {
  display: flex;
  justify-content: space-evenly;

  @media (width < 700px) {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
}
.footer__item {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item__tittle {
  font-size: 20px;
  @media (width <= 400px) {
    font-size: 16px;
  }
  @media (width < 700px) {
    font-size: 16px;
    text-align: center;
  }
}
.item__text__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item__text {
  font-size: 16px;
  color: rgb(211, 203, 194);

  @media (width <= 400px) {
    font-size: 14px;
  }
  @media (width < 700px) {
    text-align: center;
  }
}
.footer__a:hover {
  cursor: pointer;
  color: orange;
}
