.header__container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  gap: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;
  z-index: 10;
}
.header__logo {
  padding-inline: 10px;
  padding-block: 10px;
}
.logo {
  width: 250px;
  @media (width<800px) {
    width: 175px;
  }
}
.navigation__list {
  display: flex;
}
.navigation__item {
  display: flex;
  font-size: 20px;
  padding-inline: 30px;
  padding-block: 30px;
  background: linear-gradient(to top, orange 50%, transparent 50%);
  background-size: 100% 200%;
  transition: background-position 0.4s ease;
  @media (width<800px) {
    display: none;
  }
}
.navigation__item:hover {
  cursor: pointer;
  background-position: 0 100%;
  color: white;
}
