.homepage {
  width: 100%;
}
.hero {
  margin-top: 80px;
  width: 100%;
  position: relative;
}
.hero__img {
  width: 100%;
  min-height: 230px;
  max-height: 650px;
  object-fit: cover;
}
.hero__text {
  position: absolute;
  color: #ffffff;
  top: 30%;
  left: 10%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 950px;
  padding-right: 30px;
  @media (width < 750px) {
    padding-right: 40px;
    top: 20%;
  }
}
.swiper__tittle {
  font-size: 46px;
  @media (width < 1100px) {
    font-size: 36px;
  }

  @media (width < 1000px) {
    font-size: 32px;
  }
  @media (width < 900px) {
    font-size: 26px;
  }
  @media (width < 750px) {
    font-size: 20px;
  }
  @media (width < 550px) {
    font-size: 16px;
  }
  @media (width < 480px) {
    font-size: 12px;
    font-weight: 700;
  }
  @media (width < 400px) {
    font-size: 12px;
  }
}
.swiper__text {
  font-size: 18px;
  @media (width < 1000px) {
    font-size: 16px;
  }
  line-height: 1.5;
  @media (width < 900px) {
    font-size: 14px;
  }
  @media (width < 750px) {
    font-size: 12px;
  }
  @media (width < 550px) {
    font-size: 10px;
  }
  @media (width < 550px) {
    font-size: 10px;
  }
  @media (width < 400px) {
    font-size: 10px;
  }
}
