.sidebar {
  position: fixed;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  @media (width <1000px) {
    display: none;
  }
}
.sidebarcell {
  padding: 10px 11px;
  background-color: orange;
  position: relative;
}
.hiddenContent {
  position: absolute;
  padding: 10px 20px;
  background-color: white;
  left: -151px;
  top: 0;
  display: flex;
  justify-content: center;
}
.hiddenContentmail {
  position: absolute;
  padding: 10px 20px;
  background-color: white;
  left: -222px;
  top: 0;
  display: flex;
  justify-content: center;
}
.sidebarcell:hover {
  background-color: rgb(114, 103, 94);
  cursor: pointer;
}
.arrow-container {
  background-color: orange;
  padding-inline: 18px;
  padding-block: 5px;
}
.arrow-container:hover {
  background-color: rgb(114, 103, 94);
  cursor: pointer;
}
.arrow-container.active {
  display: block;
}
.arrow-container.inactive {
  display: none;
}
.sidebar__img {
  width: 30px;
}
