@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  line-height: 1.8;
}
.background__container {
  width: 100%;
  padding-inline: 20px;
}
.container {
  margin: 0 auto;
  /* padding: 20px; */
  min-width: 360px;
  max-width: 1440px;
  @media (min-width: 770px) {
    padding-left: 42px;
    padding-right: 42px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
